https: //images.pexels.com/photos/2852135/pexels-photo-2852135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
  @import
  url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Inter:wght@300;500;700;900&display=swap');

/* font-family: 'Inria Serif', serif;
font-family: 'Inter', sans-serif; */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 2;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: 'Inria Serif', serif;
  font-weight: 500;
}

/* navbar */

.navbar {
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.140);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar_wrapper {
  width: inherit;
  height: inherit;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.brand {
  font-size: 35px;
  user-select: none;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  /* font-weight: bolder; */
  -webkit-text-stroke: 0.02em #000;
}

.navbar_menu {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  text-transform: capitalize;
  font-weight: 300;
  color: whitesmoke;
  -webkit-text-stroke: 0.01em #000;
}

.navbar_menu a:hover {
  color: black;
}

.container {
  min-height: 400vh;
}

.hero {
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://github.com/Candyy1st/Undangan-Online/blob/main/BALL0435.JPG?raw=true);
  background-size: cover;
  background-position: top;
  color: rgb(245, 245, 240);
  transition-duration: 5s;
}

.hero p {
  font-size: 32px;
  margin: 0;
  -webkit-text-stroke: 0.03em #000;
}

.hero h1 {
  font-size: 94px;
  margin: 0;
  -webkit-text-stroke: 0.01em #000;
}

.hero:hover {
  background-position: bottom;
}
section {
  width: 100vw;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_title {
  font-size: 64px;
}

.section_wrapper {
  width: inherit;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.section_conten {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_conten h2 {
  font-size: 32px;
  margin: 0;
}

.section_conten p {
  margin: 0;
  font-size: 18px;
}

.section_image {
  flex: 1;
  height: 350px;
  background-image: url(https://github.com/Candyy1st/Undangan-Online/blob/main/Akad.JPG?raw=true);
  background-size: cover;
  background-position: center;
}

#resepsi > .section_wrapper > .section_image {
  background-image: url(https://github.com/Candyy1st/Undangan-Online/blob/main/Cincin.JPG?raw=true);
  background-size: cover;
  background-position: center 75%;
}

.form_wrapper {
  width: inherit;
  height: 500px;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/168927/pexels-photo-168927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: top;
}

.form_buku_tamu {
  width: 700px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.418);
  padding: 70px;
  gap: 25px;
  justify-content: center;
}

.form_grup {
  width: inherit;
  display: flex;
  flex-direction: space-between;
}

.form_grup label {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  flex: 1;
  display: flex;
  align-items: center;
}

.form_grup input {
  /* flex: 1;  */
  width: 350px;
  height: 45px;
  padding: 0px 8px;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
}

.form_buku_tamu button {
  height: 45px;
  background-color: black;
  outline: none;
  border: none;
  font-family: inherit;
  color: aliceblue;
}

.btn_maps {
  height: 45px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  width: 300px;
  margin: 20px 0;
  outline: none;
  gap: 8px;
  border: none;
}

.btn_maps:hover {
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.445);
}

.gallery_list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}

.gallery_list img {
  width: 100%;
  object-fit: cover;
}
footer {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  margin-top: 100px;
}

footer h3,
footer p {
  margin: 0;
}
